<div class = "form-container">
    
        
    <h2>ユーザー登録</h2>
     
    <%= form_tag("/users/create") do %> 
     <div class = "workspace">
         
       <% @user.errors.full_messages.each do |message| %>
          <div class = "form-error">
            <%= message %>
          </div>
　   　<% end %>
　   　 <p>ユーザー名</p>
        <input type = "text" name = "name" value = "<%= @user.name %>">
    　　<p>メールアドレス</p>
        <input type = "text" name = "mail" value = "<%= @user.mail %>">
        <p>パスワード</p>
        <input type = "password" name = "password"><br>
        <input type = "submit" valie = "登録"><br>

     </div>
    <%end%>
    
</div>