<div class="all-wrapper">
    <div class="left-container">
        #アイコン      <img src="<%= "/user_images/#{@user.image_name}" %>">
        #ユーザー名    <h3><%= @user.name %></h3>
        <%= link_to("ユーザー情報編集","/users/#{@user.id}/edit") %>
        #フォロータグ
    </div>
    <div class="main-container">
        #投稿一覧
        #いいねした一覧
        #コメントした一覧
        <div class="post-index">
            #each文
            #タイトル
            #create_at
            #update_at
            #いいね数
        </div>
    </div>
    
    
</div>
