<div class="all-wrapper">
    <div class="left-container">
        #アイコン
        #ユーザー名
        #編集ボタン
        #フォロータグ
    </div>
    <div class="main-container">
        #投稿一覧
        #いいねした一覧
        #コメントした一覧
        <div class="post-index">
            #each文
            #タイトル
            #create_at
            #update_at
            #いいね数
        </div>
    </div>
    
    
</div>
