<div class="left-container">
    #いいねする
</div>

####################

<div class="main-container">
    <div class="article">
        <div class="post-user">
　    　　#アイコン
        　#ユーザー名
        　#create_at
        　#update_at
        　#いいね数
    　  </div>
    　  <div class="post-content">
        　#タイトル <p> <%= @post.title %> </p>
        　#タグ
        　#記事　<p> <%= @post.content %> </p>
    　  </div>
    </div>
    <div class="comments">
        #each文
        #アイコン
        #ユーザー名
        #create_at
        #本文
    </div>
    
####################


</div>