ul{list-style-type: none;}

.index-all-wrapper{
    background-image: url("/assets/home-background.png");
    margin: 0;
    padding-bottom: 2em;
    display: flex;
}


.left-wrapper{
    margin:auto 100px;
    color:white;
}
.right-wrapper{
    background-color:#CCCCCC;
    margin:50px auto;
    border-radius:20px;
    h4{text-align:center;}
    span{
        margin:20px 0;
    }
    .home-signup{
        text-align:right;
        margin: 10px 10px 30px 10px;
        
    }
}


.left-container{
    width:30%;
    .recent_like_posts{
        font-size: 0.7em;
        background-color: white;
        margin-top: 0.1em;
        padding: 0.5em;
    }
}


.post-left{
           img{
               width:50px;
               height:50px;
               }
}

input{
    height: 20px;
    width: 200px;
}


.main-container{
    width: 40%;
    .main-container-header{
        background-color: white;
        height: 80px;
        padding-left: 10px;
        margin: 0 0 0.2em 0;
    }
    .index-container{
        display: flex;
        flex-wrap: wrap;
    }
        .post-container{
            background-color: white;
            width: 49%;
            margin: 1px;
            padding: 0;
            border-bottom: solid 1px black;
            border-right: solid 1px black;
            border-radius: 0.5em;
            .post-container-head{
                background-color: #D7EEFF;
                display: flex;
                margin: 0;
                border-radius: 0.5em 0.5em 0 0;
                h4{margin: 5px 0;}
                a{color:black;}
                a:visited { color:black; text-decoration:none； }
                .post-left{
                    margin: 0.3em;
                }
                .post-right{
                    text-align: left;
                    margin-left:10px;
                    
                }
            }
            .post-text{
                text-align: left;
                margin: 0.5em;
            }

    
        }
}



.right-container{
    margin: 1em;
    width:30%;
    
}
    
.user-info{
        padding: 2em 0 2em 2em;
        img{
            height: auto;
            width: 200px;
        }
}

.recent_users{
        .recent_users_info{
            display: flex;
                img{
                width:2em;
                height:2em;
                }

        }
}    
