.all-wrapper{
    margin: 20px 20px;
    display:flex;
}

.left-container{
    width: 20%;
}

.main-container{
    width: 70%;
}

.post-user{
    display: flex;
    background-color: white;
    padding: 10px;
    span{
        font-size: 1.7em;
    }
    img{
        width: 70px;
        height: 70px;
    }
}

.post-content{
    background-color:white;
    padding: 20px;
    h3{
        border-bottom: solid gray 1px;
    }

}

.post-image{
       img{
        max-width: 700px;
        height: auto;
      }
}