.all-wrapper{
    margin: 20px 20px;
    display:flex;
}

.left-container{
    width: 20%;
}

.main-container{
    width: 70%;
}

.post-user{
    display: flex;
    background-color: white;
    padding: 10px;
    span{
        font-size: 1.7em;
    }
}

.post-content{
    background-color:white;

}

.post-image{
       img{
        max-width: 200px;
        height: auto;
      }
}