.left-container{
    padding:20px;
    img{
        height: auto;
        width:200px;
        max-width: 100%;
        border-radius:30px;
    }
    h3{
        border-top:solid 1px gray;
    }
}
.post-index{
    margin: 10px;
    padding: 10px;
    .user-posted{
        background-color: white;
        margin: 1px;
        padding: 4px;
        
    }
}

.form-container{
    border-radius: 10px;
    background-color: #DDFFFF;
    max-width:50%;
    height:auto;
    margin: 50px auto;
    text-align:center;
    padding: 3em 0 3em 0;

    .workspace{
        width: 70%;
        margin: 10px auto;
        position:relative;
        p{
            margin: 0.2em;
        }
        .other{
            position:relative;
            padding-bottom: 2.5em;
        
          input{
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%)translateX(-50%);
            -webkit-transform: translateY(-50%)translateX(-50%);
            height: 2.5em;
            width: 20em;
          }
        }
    }
}